button.text-blue-200:hover svg {
  transform: rotateX(180deg);
}

div.cursor-pointer:hover svg:last-of-type:not(.userIcon) {
  transform: rotateX(180deg);
}

.learnmore {
  display: none;
}

.questionMark:hover .learnmore {
  display: inline-block;
}